@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

#page-wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-top:3em;
}
#pomodoro-clock{
  width:100%;
  color:#3C403D;
  display:flex;
  flex-direction:column;
  align-items:center;
  border:10px solid white;
  position:relative;
  box-shadow:1px 1px 10px 1px #3C403D;
  padding:0 0 2em 0;
}
#length-wrapper{
  display:flex;
}
.length-setter{
  display:flex;
}
#function-button{
  display:flex;
  font-size:1.7em;
}
.icon{
  cursor:pointer;
  transition-duration:.3s;
}
.icon:hover{
  color:white;
  transition-duration:.3s;
  transform:scale(1.1);
}
#footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  line-height:.1em;
  margin-top:4em;
  font-size:.9em;
  color: #3C403D;
  
}
#name ,#name a{
  font-family:"Arizonia";
  font-size:1.3em;
  text-decoration:none;
  color: #3C403D;
}